RewriteEngine On

# Redirect to public folder if request is not for an existing file/directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ pages/$1.php [L,QSA]